@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.lime-400 {
  color: #a3e635;
}

.teal-400 {
  color: #2dd4bf;
}

.emerald-400 {
  color: #34d399;
}

.red-400 {
  color: #f87171;
}

.indigo-400 {
  color: #818cf8;
}

.cyan-400 {
  color: #22d3ee;
}

.green-400 {
  color: #4ade80;
}

.violet-400 {
  color: #a78bfa;
}

.container {
  max-width: 100vw;
  background-color: #0f172a;
  color: white;
}

/* Header */
header nav {
  width: 100%;
  position: fixed;
  transition: .3s ease-in-out;
}

header nav.scrolled {
  background-color: #0f172a;
}

header nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

header nav ul {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  list-style: none;
  font-weight: bold;
}

header nav ul li a {
  transition: color .3s ease-in-out;
}

header nav ul li a:hover {
  color: #84cc16;
}

header nav h5 {
  color: #ddd;
}

header section {
  background-image: url('./img/header.jpg');
  background-size: cover;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

header section h1 {
  font-size: 40px;
}

@media (max-width: 1024px) {
  header nav div {
    padding: 15px 200px;
  }

  header nav ul {
    width: 100%;
  }

  header nav ul li {
    font-size: 40px;
  }

  header nav h5 {
    display: none;
  }

}

@media (max-width: 640px) {
  header nav div {
    padding: 10px 100px;
  }
}

/* About */
#about {
  min-height: 100vh;
  padding: 45px 20px 40px 40px;
}

#about h2 {
  text-align: center;
  margin-bottom: 10px;
}

#about article {
  font-size: 15px;
}

/* Skills */
#skills {
  min-height: 100vh;
  padding: 45px 50px;
}

#skills h2 {
  text-align: center;
}

#skills section > div {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

#skills section > div > div > h3 {
  font-size: 21px;
  margin-bottom: 15px;
  text-align: center;
}

#skills li {
  height: 82px;
  list-style: none;
  display: grid;
  grid-template-areas: "img title title title title"
  "img prog prog prog prog";
}

#skills li img {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  grid-area: img;
}

#skills li h4 {
  font-size: 18px;
  display: inline-block;
  grid-area: title;
}

#skills li > div {
  width: 400px;
  height: 20px;
  background-color: #1f2937;
  grid-area: prog;
}

#skills li > div > div {
  width: var(--width);
  height: 100%;
}

#skills li > div > div > div {
  width: 0;
  height: 100%;
  background-color: var(--bgc);
}

#skills li img.django-img,
#skills li img.axios-img {
  width: 80px;
  margin-right: -10px;
  margin-left: -10px;
}

#skills li img.axios-img {
  margin-top: 8px;
}

@media (max-width: 1024px) {
  #about h2 {
    margin-top: 45px;
  }

  #about article {
    font-size: 10px;
  }

  #skills h2 {
    margin-top: 45px;
  }

  #skills section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #skills .section-title {
    font-size: 35px;
    margin-top: 10px;
  }

  #skills li {
    height: 150px;
  }

  #skills li h4 {
    font-size: 25px;
  }

  #skills li img {
    width: 90px;
    display: inline-block;
    margin-right: 50px;
  }
  
  #skills li img.django-img,
  #skills li img.axios-img {
    width: 120px;
    margin-right: 40px;
    margin-left: -20px;
  }

  #skills li > div {
    width: 600px;
    height: 40px;
    background-color: #1f2937;
    grid-area: prog;
  }
}
